/* AdminNav.css */

.admin-nav-container {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 18rem;
  background-color: #3b3740;
  overflow-y: auto; 
  transition: width 0.3s; 
}

.admin-nav-expanded {
  width: 18rem; 
}
  
  .admin-nav-link {
    color: white;
    text-decoration: none;
    display: block;
    font-size: 30px;
    padding: 1rem;
    /* margin-top: rem; */
    margin-bottom: 2rem;
    /* margin: 3rem; */
  }
  
  .admin-nav-link:hover {
    color: red;
    transform: scale(1.05);
  }
  